# Dependências do Node
node_modules/
.pnp
.pnp.js

# Arquivos de ambiente
.env*.local
.env
.env.development
.env.test
.env.production

# Logs e diagnósticos
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE/Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build/Output
.next/
out/
dist/
build/
.serverless/
.turbo/

# Cache
.cache/
.temp/

# Testes
coverage/
.nyc_output/

# Miscelânea
*.log
*.tmp
*.bak